      

<div class="modal">
    <ion-header-bar class="bar-positive">
      <i class="ion-chevron-left iconsize" ng-click="closeCategory()"></i>
      <h1 class="title">Self Study</h1>
    </ion-header-bar>           
        
    <ion-content class="modalbackground">
    <div class="padding" ng-if="lastReadingId">
      <button class="button button-block button-calm button-outline" ng-click="jumpToId(lastReadingId)" style="margin-bottom:8px !important">Continue reading</button>
    </div>    
    <ion-list>   
      <ion-item class="item item-text-wrap slighttransparent" ng-repeat="chapter in chapters track by $index">
        <div ng-click="jumpToCategory(chapter)">{{chapter}}</div>
      </ion-item>
      <div class="gap"> </div>
    </ion-list>
    </ion-content>
</div>