<div class="modal">
    <ion-header-bar class="bar-positive">
      <i class="ion-chevron-left iconsize" ng-click="closePrivacy()"></i>
      <h1 class="title">Privacy Policy</h1>
    </ion-header-bar>           
        
    <ion-content>
    <div class="padding">


<div class="padding">This privacy policy governs your use of the software application 'Mind Our English' for mobile devices that was created by Pershing Venture.</div>
<p>
<div class="padding"><b>What is the purpose of this application?</b><br/>
This application is used as a reference and practice tool to improve one's English language.</div>
<p>
<div class="padding"><b>What personal information do we keep?</b><br/>
This application does not collect and store any information related to the user.</div>
<p>
<div class="padding"><b>Third-party advertisers, links to other sites</b><br/>
We serve third party ads that may link to other sites.</div>
<p>
<div class="padding"><b>Does the application record audio and read phone state?</b><br/>
This application records audio and reads phone state for quiz audio purposes only.</div>
<p>
<div class="padding"><b>Contact us</b><br/>
For more questions, please contact us via email at pershingventure@gmail.com</div>


    </div>
    <div class="gap"> </div>
    </ion-content>
</div>