
div.container {
background: black;
color: white;
border-radius: 3px;
padding: 0.5em;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
font-size: 16px;
line-height: 20px;
width: 100%;
opacity: 0.9;
}

.slighttransparent {
background: rgba(255, 255, 255, 0.7);
}

.loading{
width: 100% !important;
background-color: rgba(0, 0, 0, 0) !important;
text-decoration: none;
text-align: center;
}

.modalbackground {
background: url(../img/modalbackground.png);
background-size: contain; 
position: fixed; 
bottom: 0px; 
background-repeat: no-repeat; 
background-position:center bottom;	
}

.button-balanced.active, .button-balanced.activated{
color: #33cd5f !important;
background: none !important; 
}

input[type=text] {
width: 100%;
margin: 8px 0px 0px 0px;
/*padding: 0px;*/
/*box-sizing: border-box;*/
border-radius: 5px;
font-size: 16px;
height: 45px;
text-align: center;
}

input[type="text"]::-webkit-input-placeholder {
/*padding: 0px;*/
color: #00aced;
font-size: 16px;
}

button {
margin: 5px 5px 0px 0px !important;
}

.float-button {
width: 100%;
padding: 10px;
font-size: 40px;
position: fixed;
top: 0% !important; /* Adjust height */
left: 0%; /* Adjust position */
z-index: 1000;
}

.page-number {
padding: 10px;
font-size: 16px;
position: fixed;
bottom: 8%; /* Adjust height */
right: 1%; /* Adjust position */
z-index: 1000;
color: white;
width: 100%;
text-align: right;
}

.lowerpagenumber {
bottom: 1%; /* Adjust height */
}

.remove-ads {
padding: 10px;
font-size: 16px;
position: fixed;
bottom: 8%; /* Adjust height */
left: 1%; /* Adjust position */
z-index: 1000;
color: white;
width: 100%;
text-align: left;
text-decoration: none;
}

.category {
margin-bottom: 10px;
font-size: 14px;
}

.thingtitle {
background: white;
color: black;
font-size: 20px;
margin-top: 0.1em;
padding: 0.2em;
border-radius: 2px;
/*line-height: 28px;*/
}

.thingtitleflatbottom {
border-radius: 2px 2px 0px 0px;
}

.description {
margin-top: 8px; 
border-radius: 2px;
}

.correct {
/*background-color: #4dc247; */
background-color: #339900; 
padding: 2px 2px 2px 6px; 
margin-top: 0px; 
border-radius: 0px 0px 3px 3px;
overflow: hidden;
}

.wrong {
background-color: #FF3300; 
padding: 2px 2px 2px 6px; 
margin-top: 10px; 
border-radius: 3px 3px 0px 0px;
}

.options {
background-color: #55acee; 
padding: 4px 6px 6px 6px; 
margin-top: 10px; 
border-radius: 3px;
}

.elaboration {
background-color: #cb2027; 
padding: 2px 2px 2px 10px; 
margin-top: 10px; 
border-radius: 2px;
}

.example {
background-color: #007ee5; 
padding: 2px 2px 2px 10px; 
margin-top: 10px; 
border-radius: 2px;
font-size: 15px;
/*font-style: italic;*/
}

.detail {
background-color: #45668e; 
padding: 2px 2px 2px 10px; 
margin-top: 10px; 
border-radius: 2px;
/*font-size: 14px;*/
}

.meaning {
font-size: 16px
}

.remark {
background-color: #ff6600; 
padding: 2px 2px 2px 6px; 
margin-top: 10px; 
border-radius: 2px;
/*font-size: 14px;*/
/*font-style: italic;*/
}

.seemore {
text-decoration: none;
float: right;
color: white;
}

.starpoints {
float: right;
color: #FFD700;
}

.wagerbutton {
background-color: #FFD700;
color: black;
}

.image {
margin-top: 12px; 
max-width: 100%;
}

.grey {
color:grey;
margin-top: 5px;
}

.signature {
margin-top: 8px;
text-align: center;
font-size: 10px;
}

.gap {
height: 70px;
}

.iconsize {
font-size: 30px;
}

.bgTutorial {
font-size:18px;
background-color: #bb0000;
width: 100%;
padding: 5px;
border-radius: 5px;
}

.speaker {
margin-right: 3%;
float: right;
}

.action-sheet {
margin-bottom: 15%;
}

.coin1 {
margin-top: 24px;
height: 41px;
}

.coin2 {
margin-top: 21px;
height: 44px;
}

.coin3 {
margin-top: 18px;
height: 47px;
}

.coin4 {
margin-top: 15px;
height: 50px;
}

.potofgold {
margin-top: 5px;
height: 60px;
}

.disabledcoin {
opacity: 0.3;
}

.wager {
background-color: red;
max-width: 100%;
margin-top: 0px;
padding: 5px;
text-align: center;
border-radius: 0px 0px 3px 3px;
}

.moneyfly {
background-color:red; font-color: white; font-size: 32px; padding: 20px;
}

.moneywings {
width: 180px;	
}

.badgeimage {
width: 100px;
}


@media (max-width: 320px) {

.detail {
margin-top: 6px;
font-size: 15px;
line-height: 18px;
}

.correct {
margin-top: 0px;
font-size: 15px;
line-height: 18px;
}

.wrong {
margin-top: 7px;
font-size: 15px;
line-height: 18px;
}

.badgeimage {
width: 85px;
}

}

@media (min-width: 680px) {
.modal {
top: 0%;
right: 0%;
bottom: 0%;
left: 0%;
overflow: visible;
min-height: 240px;
width: 100%; }

div.container {
padding: 1em;
}

.category {
margin-top: 5px;
margin-bottom: 15px;
font-size: 32px;
}

.thingtitle {
font-size: 40px;
margin-top: 0.2em;
padding: 0.15em 0.15em 0.15em 0.15em;
border-radius: 4px;
line-height: 45px;
}

.thingtitleflatbottom {
border-radius: 4px 4px 0px 0px;
}

.description {
margin-top: 15px; 
margin-bottom: 10px;
border-radius: 4px;
font-size: 35px;
line-height: 40px;
}

.detail {
padding: 4px 4px 4px 20px; 
margin-top: 15px; 
border-radius: 4px;
font-size: 26px;
line-height: 32px;
}

.example {
padding: 4px 4px 4px 20px; 
margin-top: 15px; 
border-radius: 4px;
font-size: 28px;
line-height: 32px;
}

input[type=text] {
margin: 16px 0px 0px 0px;
border-radius: 5px;
font-size: 30px;
height: 60px;
padding: 10px;
line-height: 40px;
}

input[type="text"]::-webkit-input-placeholder {
font-size: 30px;
}

button {
margin: 18px 18px 0px 0px !important;
font-size: 40px !important;
padding: 30px !important;
}

.remark {
padding: 4px 4px 4px 15px; 
margin-top: 15px; 
border-radius: 4px;
font-size: 30px;
line-height: 40px;
}

.meaning {
font-size: 30px
}

.correct {
padding: 4px 4px 4px 15px; 
margin-top: 0px; 
border-radius: 0px 0px 8px 8px;
font-size: 30px;
line-height: 40px;
}

.wrong {
padding: 4px 4px 4px 15px; 
margin-top: 15px; 
border-radius: 8px 8px 0px 0px;
font-size: 30px;
line-height: 40px;
}

.options {
font-size: 35px;	
padding: 10px 12px 12px 20px; 
margin-top: 15px; 
border-radius: 5px;
}

.elaboration {
padding: 4px 4px 4px 15px; 
margin-top: 15px; 
border-radius: 4px;
font-size: 30px;
line-height: 40px;
}

.loading {
font-size: 35px;
line-height: 42px;
}

.seemore {
padding: 0px;	
font-size: 22px;
}

.starpoints {
padding: 0px;	
font-size: 32px;
}

.page-number {
padding: 20px;
font-size: 26px;
}

.signature {
margin-top: 16px;
font-size: 16px;
}

.item {
font-size: 30px;
padding: 25px;
line-height: 35px;
}

.title {
font-size: 30px !important;
line-height: 45px !important;
text-align: center !important;
}

.grey {
font-size: 30px;
line-height: 35px;
}

.bar-header {
height: auto !important;
}

.gap {
height: 130px;
}

.iconsize {
font-size: 55px;
}

.bgTutorial {
font-size:35px;
background-color: #000000;
}

.coin1 {
margin-top: 50px;
height: 100px;
}

.coin2 {
margin-top: 40px;
height: 110px;
}

.coin3 {
margin-top: 30px;
height: 120px;
}

.coin4 {
margin-top: 20px;
height: 130px;
}

.potofgold {
margin-top: 20px;
height: 130px;
}

.wager {
font-size: 35px;
padding: 10px;
border-radius: 0px 0px 6px 6px;
}

.moneyfly {
font-size: 48px; padding: 30px;
}

.moneywings {
width: 350px;	
}

.badgeimage {
width: 200px;
margin-top: 12px;
}

.bar {
	height: 70px !important;
}

.title {
	margin-top: 12px !important;
	font-size: 36px !important;
}

.has-header {
  top: 70px !important;
}

.hideShare {
	display: none;
}

}